<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
    this will take care of caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href="{{asset "vendor/bootstrap/bootstrap.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
  <nav class="py-2 bg-body-tertiary border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto navbar-expand-lg">
          {{navigation}}
      </ul>
      <ul class="nav">
          {{#unless @member}}
              {{#unless @site.members_invite_only}}
                  <li class="nav-item"><a href="#/portal/signin" class="nav-link link-body-emphasis px-2">Einloggen</a></li>
                  <li class="nav-item"><a href="#/portal/signup" class="nav-link link-body-emphasis px-2">Registrieren</a></li>
              {{else}}
                  <li class="nav-item"><a href="#/portal/signin" class="nav-link link-body-emphasis px-2">Einloggen</a></li>
              {{/unless}}
          {{else}}
              <li class="nav-item"><a href="#/portal/account" class="nav-link link-body-emphasis px-2">Account</a></li>
          {{/unless}}
      </ul>
    </div>
  </nav>
  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="{{@site.url}}" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="{{asset "vendor/bootstrap/icons/bootstrap-icons.svg#backpack4-fill"}}"></use></svg>
        <span class="fs-4">{{@site.title}}</span>
      </a>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </header>
    {{!--<header id="gh-head" class="gh-head outer{{#match @custom.header_style "Hidden"}} is-header-hidden{{/match}}">
        <div class="gh-head-inner inner">
            <div class="gh-head-brand">
                <a class="gh-head-logo{{#unless @site.logo}} no-image{{/unless}}" href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}">
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
                <button class="gh-search gh-icon-btn" aria-label="Search this site" data-ghost-search>{{> "icons/search"}}</button>
                <button class="gh-burger"></button>
            </div>

            <div class="gh-head-actions">
                <button class="gh-search gh-icon-btn" data-ghost-search>{{> "icons/search"}}</button>
                <div class="gh-head-members">
                    {{#unless @member}}
                        {{#unless @site.members_invite_only}}
                            <a class="gh-head-link" href="#/portal/signin" data-portal="signin">Einloggen</a>
                            <a class="gh-head-button" href="#/portal/signup" data-portal="signup">Registrieren</a>
                        {{else}}
                            <a class="gh-head-button" href="#/portal/signin" data-portal="signin">Einloggen</a>
                        {{/unless}}
                    {{else}}
                        <a class="gh-head-button" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div>
            </div>
        </div>
    </header>--}}
  
    <div class="site-content">
        {{!-- All other templates get inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}
    </div>

    {{!-- The global footer at the very bottom of the screen --}}
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                {{navigation type="secondary"}}
            </ul>
            <p class="text-center text-body-secondary">&copy; {{date format="YYYY"}} <a href="{{@site.url}}" class="link-secondary link-underline link-underline-opacity-0">{{@site.title}}</a></p>
        </footer>
    </div>

{{#is "post, page"}}
    {{> "lightbox"}}
{{/is}}

{{!-- Scripts - handle member signups, responsive videos, infinite scroll, floating headers, and galleries --}}
<script src="{{asset "vendor/jquery/jquery.min.js"}}"></script>
<script src="{{asset "vendor/bootstrap/bootstrap.bundle.min.js"}}"></script>
<script src="{{asset "built/mk1_scout.js"}}"></script>

<script>
$(document).ready(function () {
    // FitVids - Makes video embeds responsive
    $(".gh-content").fitVids();
});
</script>

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
